@mixin font($font_name, $file_name, $weight, $style) {
   @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
   }
}
@import "fonts";
/* ibg */
.ibg {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   position: relative;
}

.ibg img {
   width: 0;
   height: 0;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
}
/*--------------*/

/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/

.wrapper {
   overflow: hidden;
   min-height: 100%;
}
.container {
   margin: 0 auto;
   max-width: 1230px;
   padding: 0 15px;
}
main.page {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
}
.full-screen {
   flex: 1 0 100%;
   position: relative;
}
.full-screen__block {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}
.header {
   position: absolute;
   z-index: 1;
   width: 100%;
   padding: 2rem 0;
}
.header__nav {
   display: flex;
   justify-content: center;
}
.header__list-left,
.header__list-right {
   display: flex;
   align-items: center;
   width: 100%;
}
.header__list-left {
   margin-right: 3.6rem;
   flex-direction: row-reverse;
}
.header__list-right {
   margin-left: 3.6rem;
}
.header__item {
   margin: 0 1.9rem;
}
.header__link {
   text-transform: uppercase;
   color: #4d4959;
   font-family: LatoBold;
}
.header__point {
   background: #4d4959;
   width: 2px;
   height: 2px;
}
